{% include 'base.html' %}
{% load static %}
<link rel="stylesheet" href='{%static "css/userstatistics/style.css"%}'>
<script src='{%static "js/userstatistics/display.js"%}'></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<br>

<!-- OLD Group of buttons to switch between statistic displays -->
<!-- <div class="mx-auto" style="width: 200px;">
	<div class="btn-group mx-auto" role="group" aria-label="Basic example">
	  <button type="button" id ="general_btn" class="btn btn-secondary">General</button>
	  <button type="button" id ="lottery_btn" class="btn btn-outline-secondary">Lottery</button>
	  <button type="button" id ="bid_btn" class="btn btn-outline-secondary">Bid</button>
	  <button type="button" id ="buyout_btn" class="btn btn-outline-secondary">Buy</button>
	</div>
</div> -->

<div class="d-flex nav-active-border home-nav stats-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link pt-4 pb-4 mb-2 active show" href="#" data-toggle="tab" data-target="#tab_1">General</a>
        </li>
        <li class="nav-item">
            <a class="nav-link pt-4 pb-4 mb-2" href="#" data-toggle="tab" data-target="#tab_2">Lottery</a>
        </li>
        <li class="nav-item">
            <a class="nav-link pt-4 pb-4 mb-2" href="#" data-toggle="tab" data-target="#tab_3">Bid</a>
        </li>
        <li class="nav-item">
            <a class="nav-link pt-4 pb-4 mb-2" href="#" data-toggle="tab" data-target="#tab_4">Buy</a>
        </li>
    </ul>
</div>

<!-- all of the number based statistics -->
<div id ="number_statistics">
	<!-- Number of events div -->
	<div id='num_events'>
		<p> 
			<div id="num_events_description"></div>
			<div id="num_events_val"></div>
		</p>
	</div>
	<!-- total earnings div -->
	<div id='total_earnings'>
		<p> 
			<div id="total_earnings_description"></div>
			<div id="total_earnings_val"></div>
		</p> 
	</div>
	<!-- Average earnings div -->
	<div id='average_earnings'>
		<p> 
			<div id="average_earnings_description"></div>
			<div id="average_earnings_val"></div>
		</p> 
	</div>
	<!-- Misc div -->
	<!-- for data that isn't constant across all events  -->
	<div id='misc'>
		<p> 
			<div id="misc_description"></div>
			<div id="misc_val"></div>
		</p> 
	</div>
</div>

<!-- Graphs for join/star times div -->
<div id= 'graphic_display'>
	<div id= 'join_time'></div>
	<div id= 'star_time'></div>
	<div id= 'join_event_time'></div>
	<div id= 'star_event_time'></div>
</div>

