{% extends 'base.html' %}
<!-- {% load static %} -->
{% block title %}
	Statistics | {{ block.super }}
{% endblock title %}

{% block script %}
<link rel="stylesheet" href='{%static "css/userstatistics/style.css"%}'>
<script src='{%static "js/userstatistics/display.js"%}'></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<br>
{% endblock script %}

<!-- OLD Group of buttons to switch between statistic displays -->
<!-- <div class="mx-auto" style="width: 200px;">
	<div class="btn-group mx-auto" role="group" aria-label="Basic example">
	  <button type="button" id ="general_btn" class="btn btn-secondary">General</button>
	  <button type="button" id ="lottery_btn" class="btn btn-primary-new">Lottery</button>
	  <button type="button" id ="bid_btn" class="btn btn-primary-new">Bid</button>
	  <button type="button" id ="buyout_btn" class="btn btn-primary-new">Buy</button>
	</div>
</div> -->

{% block content %}
<div class="d-flex nav-active-border home-nav stats-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link pt-4 pb-4 mb-2 active show" id ="general_btn" href="#" data-toggle="tab" data-target="#tab_1">General</a>
        </li>
        <li class="nav-item">
            <a class="nav-link pt-4 pb-4 mb-2" id ="lottery_btn" href="#" data-toggle="tab" data-target="#tab_2">Lottery</a>
        </li>
        <li class="nav-item">
            <a class="nav-link pt-4 pb-4 mb-2" id ="bid_btn" href="#" data-toggle="tab" data-target="#tab_3">Bid</a>
        </li>
        <li class="nav-item">
            <a class="nav-link pt-4 pb-4 mb-2" id ="buyout_btn" href="#" data-toggle="tab" data-target="#tab_4">Buy</a>
        </li>
    </ul>
</div>

<!-- all of the number based statistics -->
<div id ="number_statistics" class="row">
	<!-- Number of events div -->
	<div id='num_events' class="col-md-3">
		<p> 
			<div id="num_events_description"></div>
			<div id="num_events_val"></div>
		</p>
	</div>
	<!-- total earnings div -->
	<div id='total_earnings'  class="col-md-3">
		<p> 
			<div id="total_earnings_description"></div>
			<div id="total_earnings_val"></div>
		</p> 
	</div>
	<!-- Average earnings div -->
	<div id='average_earnings'  class="col-md-3">
		<p> 
			<div id="average_earnings_description"></div>
			<div id="average_earnings_val"></div>
		</p> 
	</div>
	<!-- Misc div -->
	<!-- for data that isn't constant across all events  -->
	<div id='misc' class="col-md-3">
		<p> 
			<div id="misc_description"></div>
			<div id="misc_val"></div>
		</p> 
	</div>
</div>

<!-- Graphs for join/star times div -->
<div id= 'graphic_display' class="row">
	<div class="col-md-10 offset-md-1 row">
		<div class="col-12 col-md-6 mb-4" id= 'join_time'></div>
		<div class="col-12 col-md-6 mb-4" id= 'star_time'></div>
		<div class="col-12 col-md-6 mb-4" id= 'join_event_time'></div>
		<div class="col-12 col-md-6 mb-4" id= 'star_event_time'></div>		
	</div>
</div>
{% endblock content %}