*.pyc
*\__pycache__\*
*__pycache__*
*pytest_cache*
myvenv
venv
static-serve
static-serve/*
static-serve
settings.ini
*.env
env
db.sqlite3
/static
.DS_Store
selenium_tests/archived_logs
selenium_tests/latest_logs
selenium_tests/.pytest_cache/
selenium_tests/.pytest_cache
parties/__pycache__/models.cpython-36.pyc
parties/api/__pycache__/serializers.cpython-36.pyc
parties/__pycache__/models.cpython-36.pyc
parties/__pycache__/forms.cpython-36.pyc
apogee1/settings/__pycache__/local.cpython-36.pyc
parties/__pycache__/models.cpython-36.pyc
parties/__pycache__/models.cpython-36.pyc
apogee1/__pycache__/urls.cpython-36.pyc
bids/__pycache__/forms.cpython-36.pyc
bids/__pycache__/models.cpython-36.pyc
bids/__pycache__/urls.cpython-36.pyc
bids/__pycache__/views.cpython-36.pyc
parties/__pycache__/models.cpython-36.pyc
parties/api/__pycache__/urls.cpython-36.pyc
parties/api/__pycache__/views.cpython-36.pyc
db.sqlite3
bids/__pycache__/models.cpython-36.pyc
parties/__pycache__/models.cpython-36.pyc
parties/api/__pycache__/views.cpython-36.pyc
