psycopg2
python-decouple
dj-database-url
django-heroku
gunicorn==19.6.0
whitenoise==3.3.1
redis
django-storages
boto3
boto
paypal
django-paypal
paypalrestsdk
twisted
channels
channels_redis
service_identity
django-datetimepicker
amqp==2.2.2
billiard==3.5.0.3
celery==4.1.0
Django==2.0.1
django-crispy-forms==1.7.0
django-filter==1.1.0
djangorestframework==3.7.7
kombu==4.1.0
Markdown==2.6.11
Pillow==5.0.0
pytz==2017.3
vine==1.1.4
