<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<style type="text/css">
	input[name=email] {
		border-radius: 5px
	}
</style>
<div class="text-center col-md-4 offset-md-4" style="margin-top: 50px;">
  <h2>Password reset sent</h2>
  <p><small>Your password has been set. You can go ahead and log in now!</small></p>
  <a href="/accounts/login"><button class="btn btn-secondary">Login</button></a>

  <form method="POST">
    {% csrf_token %}
    
  </form>
</div>
{% endblock %}