#stat_description4{
	display: inline-block;
}
#stat_description3{
	display: inline-block;
}
#stat_description2{
	display: inline-block;
}
#stat_description1{
	display: inline-block;
}
#num_events_val{
	display: inline-block;
}
#total_earnings_val{
	display: inline-block;
}
#average_earnings_val{
	display: inline-block;
}
#max_earnings_val{
	display: inline-block;
}

#num_events{}


#join_time{

}
#star_time{

}
#join_event_time{

}
#star_event_time{

}