#number_statistics{
	padding-left: 6em;
}
#stat_description4{
	display: inline-block;

}
#stat_description3{
	display: inline-block;
}
#stat_description2{
	display: inline-block;
}
#stat_description1{
	display: inline-block;
}
#num_events_val{
	display: inline-block;
}
#total_earnings_val{
	display: inline-block;
}
#average_earnings_val{
	display: inline-block;
}
#max_earnings_val{
	display: inline-block;
}

#num_events{
	position: relative;
    
}
#total_profit{
	position: relative;
}
#average_profit{
	position: relative;
}
#max_profit{
	position: relative;
}


#graphic_display{
}
#join_time{
	width:37em;
}
#star_time{
	width:37em;
	display: inline-block;

}
#join_event_time{
	width:37em;
}
#star_event_time{
	display: inline-block;
	width:37em;
}