{% extends 'base.html' %}
{% block title %}
	Payout | {{ block.super }}
{% endblock title %}

{% block content %}

<div class='row'>
	<!-- centers the content -->
	<div class='col-md-6 offset-md-3 offset-md-2 mt-3'>
		<h3 class='mt-4 text-center'>Request a Payout</h3>
		<hr style="border-color: white">
		{% if insufficient_funds %}
    		<div id="no_funds" title="no_funds">
        		<p>You must have at least $100 to request a payout</p>
    		</div>
		{%else%}
			{% include "payout/payout_form.html" with form_id='payout-form' form=form btn_title="Submit" %}
		{% endif %}

		<!-- brings in the create/update form. because we customised 
		the form, we arent using the crispy format. -->

	</div>
</div>
{% endblock content %}