{% extends 'base.html' %}
{% block title %}
	Payout | {{ block.super }}
{% endblock title %}

{% block content %}
<div class='row'>
	<!-- centers the content -->
	<div class='col-md-4 offset-md-4 mt-3 text-center '>
		<h3 class='mt-4'>We have received your payment submission</h3>
		<hr style="border-color: white">
		<p>Thanks for using Granite! You will receive your payment within 10 business days.</p>
		<a href="/"><button class="btn btn-primary-new">Return to Granite Home</button></a>
		<!-- brings in the create/update form. because we customised 
		the form, we arent using the crispy format. -->

	</div>
</div>
{% endblock content %}