{% extends 'base.html' %}

<!-- sets the tab info -->
{% block title %}
	Tags | {{ block.super }}
{% endblock title %}

<!-- contains our custom JS -->
{% block script %}
<script>
	// runs when page DOM is ready
	$(document).ready(function(){
		loadPartyContainer('party-container')
	});
</script>
{% endblock script %}

<!-- contains our custom html and django stuff -->
{% block content %}
<div class='row'>
	<div class="col-sm-12 mt-3">
		{% if request.GET.q %}
			<p class='lead'>Results for "{{ request.GET.q }}"</p><hr>
		{% endif %}
	</div>
	<div class='col-sm-8 offset-sm-2 mt-2'>
		<h3>Events</h3><hr>

		<!-- this holds all of our JS rendered stuff -->
		<!-- the id and dataurl are set so that the base render function can 
		get the appropriate info from them -->
		<div id='party-container' data-url='/api/tags/{{ obj.tag }}/'></div>

		<!-- this is our load more button for the pagination -->
		<a href='#' id='loadmore'>Show More Events</a>
	</div>
</div>
{% endblock content %}









