{% extends 'base.html' %}

{% block title %}
	Update Profile | {{ block.super }}
{% endblock title %}

{% block content %}
{{ object.profile.get_absolute_url }}


<div class='row'>
	<!-- centers the content -->
	<div class='col-sm-8 offset-sm-2 mt-3'>
		<!-- brings in the create/update form -->
		{% load crispy_forms_tags %}

		<!-- the id portion just allows us to call this with a particular id if we  want -->
		<form class='form mt-3' method='POST' action='' enctype="multipart/form-data">
			{% csrf_token %}
		    {{ form|crispy }}
		    <input class='btn btn-outline-secondary' type="submit" value='Save Changes' />
		</form>
	</div>
</div>
{% endblock content %}