<!-- this is the HTML for the registration page -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!-- this gives the tab title in the browser -->
{% block title %}
	Register | {{ block.super }}
{% endblock title %}

{% block content %}
<div class='row'>
	<!-- centers the content -->
	<div class='col-sm-6 offset-sm-3 mt-3'>
		<h1 class='text-center'>Sign Up</h1>
		<!-- the id portion just allows us to call this with a particular id if we want. we arent currently using it -->

		<form {% if form_id %} id='{{ form_id }}' {% endif %} class='form mt-3' method='POST' action=''>
			<script src='https://www.google.com/recaptcha/api.js'></script>
			{% csrf_token %}
			<!-- the form is specified in the view -->
		    {{ form|crispy }}
		    <!-- in django, the type submit enters the form into the view and then into the database -->
		    <!-- captcha implementation -->
		    <div> 
		    	<input type="checkbox" name="tos" value="tos"> I have read Apogee's <a href="{% url 'tos' %}">Terms, Data Policy and Cookies Policy. </a> <br>
		    	
		    </div>
		    <div class="g-recaptcha" data-sitekey="6LdvOGcUAAAAANZ6PU4WZ0fSwI0y0apDdHXC3Prq" name=
		    "captcha"></div>
		    <br/>
		    <input class='btn btn-outline-secondary' type="submit" value="Sign Up" />
		</form>
	</div>
</div>
{% endblock content %}


