<!-- this is the HTML for the registration page -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
<!-- this gives the tab title in the browser -->
{% block title %}
	Register | {{ block.super }}
{% endblock title %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src='{%static "js/users/registration.js"%}'></script>

<div class='row'>
	<!-- centers the content -->
	<div class='col-sm-4 offset-sm-4 mt-3'>
		<h1 class='text-center mt-3'>Sign Up</h1>
		<!-- the id portion just allows us to call this with a particular id if we want. we arent currently using it -->

		<form {% if form_id %} id='{{ form_id }}' {% endif %} class='form mt-3' method='POST' action=''>
			<script src='https://www.google.com/recaptcha/api.js'></script>
			{% csrf_token %}
			<!-- the form is specified in the view -->
		    {{ form|crispy }}
		    <!-- in django, the type submit enters the form into the view and then into the database -->
		    <!-- captcha implementation -->
		    <div> 
		    	<input type="checkbox" id="tos" class="tos" value="tos" name="tos"> I have read Granite's <a href="{% url 'terms' %}">Terms of Service</a> and <a href="{% url 'privacy' %}">Privacy Policy.</a><br>
		    	
		    </div>
		    <br>
		    <div class="g-recaptcha" data-sitekey="6Lf0H28UAAAAACm9MqbKxB5wmpXopEoL6D3yztUy" name=
		    "captcha"></div>
		    <br/>
		    <input class='btn btn-primary-new' id="submit" type="submit" value="Sign Up" disabled="disabled" />
		</form>
	</div>
</div>

<div class='row'>
	<!-- centers the content -->
	<div class='col-sm-4 offset-sm-4 my-3'>
		<a href='https://api.twitch.tv/kraken/oauth2/authorize?response_type=code&client_id={{twitch_client_id}}&redirect_uri={{twitch_redirect_uri}}&scope=channel_subscriptions+user_read+channel_check_subscription'>
			<button class="btn btn-primary-new">Sign up with Twitch!</button>
		</a>
	</div>
</div>
{% endblock content %}


