<!-- This is a snippet. It's a short piece of HTML that we can reuse 
wherever we want -->
<!-- Recommended is from the account modelmanager. it gets a random set
of profiles that the current user doesnt follow. the HTML below iterates
through the list provided by recommended and displays a link to the profile-->
{% for profile in recommended %}
	<a class='text-dark' href='/profiles/{{ profile.user.username }}'>{{ profile.user.username }}</a>
	{%if user.is_verified%}
		<i class="fas fa-check-circle"></i>
	{%endif%} 

	<br>
{% empty %}
	<p class='lead'>No recommendations</p>
{% endfor %}