asdf<!-- this is the HTML associated with the login page -->
{% extends "base.html" %}

{% block script %}
<script>
    // runs when page DOM is ready
    $(document).ready(function(){
        // changes the login formatting so it isnt the defaul rendering
        $('form input').addClass('form-control')
    });
</script>
{% endblock %}


{% block content %}
<!-- this was built off of a django template -->
<div class='col-sm-6 offset-sm-3 text-center mt-4'>
    <h1>Login</h1>
    <!-- form.errors is from the default django forms. it recognizes when the input information is incorrect -->
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <!-- not sure what next is. this is essentially copied from the django docs. pretty sure next has to do with whether someone has access -->
    {% if next %}
        <!-- is_authenticated is another default attribute to the user model in django -->
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}" class='mt-5'>
    {% csrf_token %}

    <!-- bootstrap form formatting. this just changes the look of the input lines themselves and gives them titles -->
    <div class="form-group">
        {{ form.username.label_tag }}
        {{ form.username }}    
    </div>

    <div class="form-group">
        {{ form.password.label_tag }}
        {{ form.password }}    
    </div>

    <button type="submit" class='btn btn-outline-secondary'>Login</button>
    <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <a href="{% url 'login' %}">I Forgot My Password</a>
    <!-- it's not set up currently -->
    {# Assumes you setup the password_reset view in your URLconf #}
    <!-- <p><a href="{% url 'password_reset' %}">Lost password?</a></p> -->
</div>
{% endblock %}