.footer {
    position: relative;
    width: 100%;
    min-height: 80px;
    background: hsl(270, 5%, 15%);
    padding: 30px;
}

.footer .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.footer .row {
	align-items: center;
}

.footer-col {
	padding: 15px;
}

@media (max-width: 575px) {
	.footer {
		height: 240px;
	}
}