<!--this is the HTML for the main page. it has recommended users 
a create event button, and the event thumbnails-->
{% extends 'base.html' %}
<!-- we would use this if we wanted to suggest users to follow -->
<!-- {% load recommended %}
<p class='lead'>Recommended users</p>
<p>{% recommended request.user %}</p> -->
<!-- {% load static %} -->
<!-- sets the tab info -->
{% block title %} Events | {{ block.super }} {% endblock title %}
<!-- hello caldwell -->
<!-- contains our custom JS -->
{% block script %}
{% endblock script %}

{% block content %}
<div class="home-content container about-apogee mt-5">
    <div class="row">
        <div class="col-lg-12 mb-3">
            <h2 class="text-center">About Us</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <p class='text-center mb-4'>We’re fans.</p>
            <p class='text-center mb-4'>We started watching Youtube in 2013 when GTA V first came out. We fell in love with the communities our favorite creators built, but we realized that we wanted to do more than just watch. We wanted a chance to actually play with, have a conversation with, and get to know the people we watched every day. We wanted a chance to support them for the entertainment and the community they had created. And we figured we weren’t the only ones.</p>
            <p class='text-center mb-4'>We started Granite in 2015 with the goal of strengthening the relationship between creators and their fans. We wanted a space where we could play games together that made sense for both parties. When the Adpocalypse hit in early 2017, we realized that it wasn’t just about making sense for creators. It was an opportunity to fill the need for another, and more reliable, revenue source for creators.</p>
            <p class='text-center mb-4'>The idea is simple: a creator makes an event for a certain time, and fans pay to participate. Fans get to meet their favorite creator in-game, creators get better access to financial support to continue doing what they do best, and the community gets stronger.</p>
            <p class='text-center mb-4'>At its core, Granite is about community. It’s about putting names and faces to fans, instead of just numbers. It’s about having real conversations, instead of drowning in chat or the comment section. It’s about making sure creators can continue to create things they enjoy, instead of being governed by algorithms and swings in popularity. It’s about making our community even better than it was before.</p>
            <p class='text-center mb-4'>Our job is to make the best site for the community, so if any of you have any questions, comments, concerns, feedback, experiences, gameplay, stories, or anything else, we’d love to hear from you!</p>
        </div>
    </div>
</div>
{% endblock content %}