{% extends "base.html" %}
{% load static %}
{% block title %} Authentication | {{ block.super }} {% endblock title %}

{% block script %}

<script src='{% static "js/general/authentication.js"%}'></script>

{% endblock script %}
{% block content %}
<div class='row mt-3'>
	<h2>E-mail Authentication<h2>
</div>
<div class="row mt-3"> 
<!-- 	<form id= "auth_key-submit" method="GET"> -->
<div class="col-sm-12 form-group mb-1" id="div_auth_key">
	<input type="text" class="form-control" id="auth_key" name="auth_key" value="" maxlength="6">
	 <input type="submit" value="Authenticate" class="authBtn btn btn-danger" id ="authenticate_btn">
</div>
<!-- 	</form> -->
</div>
{% endblock content %}