<!-- base is the main rendering file for all of the events. it contains all
of the formatting in the head, so it must be imported into every file. -->
{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- this is where the static files are served locally. for procudtion, we should use the CDN version -->
    <!-- <link href='{% static "css/bootstrap.min.css" %}' rel='stylesheet'> -->
    <!-- CDN Version of Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- CDN for FontAwesome, which is where our little glyphicons come from -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>

    <!-- additional custom css for changing colors -->
    <!-- build set of global variables in static rather than putting them here -->
    <style>
      .apogee-btn {
        color: black;
        background-color: orchid;
      }
      .grey-color {
        color: #ccc;
      }
      .red-color {
        color: red;
      }
      .yellow-color {
        content: "\f005";
        color: #e4c43a;
      }
      .media-focus {
        background-color: #8080803b;
      }
      /*this allows form errors to show*/
      .invalid-feedback {
        display: block;
      }
      .grey-background {
        background-color: #f1f1f1;
      }
    </style>

    <!-- block title allows us to push a new title from each page -->
    <!-- you can access the apogee text by calling block.super, so all other pages just call that in their block title section -->
    <title>{% block title %}Apogee{% endblock title %}</title>
  </head>

  <body>



    <!-- this is how we include the navbar into every page -->
    <!-- navbar goes outside container bc the container has margins. 
    moving it out allows it to stretch the whole way across -->
    {% include 'navbar.html' %}
    </form>

    <!-- this holds the actual content from each individual page -->
    <!-- the container has margins, eliminate them with container fluid -->
    <div class='container-fluid'>
        {% block content %}
        {% endblock content %}
    </div>

    <!-- Optional JavaScript through CDNs -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- Botstrap comes with slim version of jQuery, but we've updated to full version so that we can use AJAX stuff -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- Local version of Bootstrap JS, switch to CDN version for production -->
    <!-- <script src='{% static "js/bootstrap.min.js" %}'></script> -->
    <!-- CDN version of Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- <script src='{%static "js/parties/party-rendering-detail.js"%}'></script> -->
    <!-- this contains all of the js used to parties. it's here so that we can use the same rendering in every view that needs it -->
    <script>
      // this handles notifications click. its not a function because it needs to 
      // be called on every single page. on the click, it allows the page redirect
      // and the checked api sets the userprofile new-notifications to false
      $(document.body).on('click', '#new-notification-ding', function(e){
        console.log('clicked notifications')
        // api endpoint
        $.ajax({
          method: 'GET',
          url: '/api/notifications/checked/',
          success: function(data){
            // the api handles updating the database
          }, 
          error: function(data){
            console.log('error')
          }
        })
      });

    </script>
    
    {% block scripts %}
    {% endblock scripts %}

  </body>
</html>










