<footer class='footer'>
	<div class='container'>
		<div class='row'>
			<div class='col-sm-2 text-center'>
				<i class="fab fa-twitter-square mx-1"></i><i class="fab fa-facebook-square mx-1"></i>
			</div>
			<div class='col-sm-2 text-center'>
				About Us
			</div>
			<div class='col-sm-2 text-center'>
				Contact
			</div>
			<div class='col-sm-2 text-center'>
				FAQ
			</div>
			<div class='col-sm-2 text-center'>
				Terms of Service
			</div>
			<div class='col-sm-2 text-center'>
				Privacy Policy
			</div>
		</div>
	</div>
</footer>