<footer class='footer'>
	<div class='container'>
		<div class='row'>
			<div class='col-sm-2 text-center'>
				<i class="fab fa-twitter-square mx-2 my-auto"></i><i class="fab fa-facebook-square mx-2 my-auto"></i>
			</div>
			<div class='col-sm-2 text-center'>
				<a href="{% url 'about' %}">
					<span class='text-muted'>About Us</span>
				</a>
			</div>
			<div class='col-sm-2 text-center'>
				<a href="{% url 'about' %}">
					<span class='text-muted'>Contact</span>
				</a>
			</div>
			<div class='col-sm-2 text-center'>
				<a href="{% url 'FAQ' %}">
					<span class='text-muted'>FAQ</span>
				</a>
			</div>
			<div class='col-sm-2 text-center'>
				<a href="{% url 'terms' %}">
					<span class='text-muted'>Terms</span>
				</a>
			</div>
			<div class='col-sm-2 text-center'>
				<a href="{% url 'privacy' %}">
					<span class='text-muted'>Privacy</span>
				</a>
			</div>
		</div>
	</div>
</footer>