<footer class='footer'>
	<div class='container'>
		<div class='row'>
			<div class='col-sm-2 text-center my-auto'>
				<i class="fab fa-twitter-square fa-2x mx-3"></i><i class="fab fa-facebook-square fa-2x mx-3"></i>
			</div>
			<div class='col-sm-2 text-center'>
				<a href="{% url 'about' %}" style="text-decoration: none;">
					<span class='text-muted'>About Us</span>
				</a>
			</div>
			<div class='col-sm-2 text-center'>
				<a href="{% url 'about' %}" style="text-decoration: none;">
					<span class='text-muted'>Contact</span>
				</a>
			</div>
			<div class='col-sm-2 text-center'>
				<a href="{% url 'FAQ' %}" style="text-decoration: none;">
					<span class='text-muted'>FAQ</span>
				</a>
			</div>
			<div class='col-sm-2 text-center'>
				<a href="{% url 'terms' %}" style="text-decoration: none;">
					<span class='text-muted'>Terms</span>
				</a>
			</div>
			<div class='col-sm-2 text-center'>
				<a href="{% url 'privacy' %}" style="text-decoration: none;">
					<span class='text-muted'>Privacy</span>
				</a>
			</div>
		</div>
	</div>
</footer>