<!-- this is the initial home page from development. it's no longer used -->
{% extends 'base.html' %}
{% load tz %}

{% block title %}
	{{ block.super }} | Welcome
{% endblock title %}

{% load static %}

{% block script %}
<script src='{% static "js/parties/old.js"%}'></script>
<script src='{% static "js/parties/party.js"%}'></script>
<script type="text/javascript">
	$(document).ready(function() {
		// tells us where the thumbnails go
		// loadPartyListContainer('following-container')
		loadPartyListContainer('trending-container')
		// loadPartyListContainer('closing-container')
	});
</script>
{% endblock script %}

{% block content %}

<header class="hero-section">
	<div class="header-wrapper">
		<div class="row header-text">
			<div class="col-lg-4 offset-lg-1>
				<h1 class="text-left">Don’t Just Watch.<br> Join and Play.</h1>
				<h4 class="text-left">Connect with your favorite creators in a new way.</h4>
			</div>
			<div class="col-lg-6 col-sm-12">
				<div class="card card-profile text-center">
					<div class="card-block">
						<img alt="" class="card-img-profile" src="https://it.gravatar.com/userimage/3434071/205a00fc16ae537b26b56f40790910fe.jpg?size=140">
						<h4 class="card-title">
					  John Smith
					  <small>Tagline Goes Here</small>
					  
					</h4>
						<a href="{{ request.user.profile.get_absolute_url }}">
							<button class="btn btn-new btn-primary-new">View Profile</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>


<div class="container">
	<div class='row'>

		<div class="home-content">
			<div class="row">
				<div class="pl-3">
					<div class="d-flex nav-active-border home-nav">
						<ul class="nav">
	<!-- 						<li class="nav-item">
								<a class="nav-link pt-4 pb-4 mb-2 active show" href="#" data-toggle="tab" data-target="#tab_1">Closing Soon</a>
							</li> -->
							<li class="nav-item">
								<a class="nav-link pt-4 pb-4 mb-2" href="#" data-toggle="tab" data-target="#tab_2">Trending</a>
							</li>
<!-- 							<li class="nav-item">
								<a class="nav-link pt-4 pb-4 mb-2" href="#" data-toggle="tab" data-target="#tab_3">Following</a>
							</li> -->
						</ul>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<div class="tab-content pl-3">
<!-- 						<div class="tab-pane fade active show" id="tab_1">
							<div class="row">
								<div id='closing-container' data-url='/api/events/closing'></div>
							</div>
						</div> -->
						<div class="tab-pane fade" id="tab_2">
							<div class="row">
							   <div id='trending-container' data-url='/api/events/trending'></div>	
							</div>
						</div>
<!-- 						<div class="tab-pane fade" id="tab_3">
							<div class="row">
							   <div id='party-container' data-url='/api/events/'></div>
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



{% endblock content %}