<!-- this is the initial home page from development. it's no longer used -->
{% extends 'base.html' %}
{% load tz %}

{% block title %}
	{{ block.super }} | Welcome
{% endblock title %}

{% load static %}

{% block scripts %}
<script src='{% static "js/parties/party.js"%}'></script>
<script src='{% static "js/eventmessages/chat.js"%}'></script>
<script type="text/javascript">
	$(document).ready(function() {
	    // tells us where the thumbnails go
	    loadPartyListContainer('party-container')
		addStarFunctionality();
		addJoinFunctionality();
	});
</script>
{% endblock scripts %}

{% block content %}

<div class='row'>
	<!-- left side column -->
	<div class='col-sm-3 grey-background'>
		<!-- separated so that the background wont follow the right columns len() -->
		<div class='col-sm-12 mt-4'>
			<!-- current logged user -->
			<h3>{{username}}</h3><hr>
		</div>
		<!-- create event button linked to create page -->
		<div class='col-sm-12 mt-3'>
			<a href="/events/create/">
				<button class='btn btn-outline-secondary'>Create an event</button>
			</a>
		</div>
		<!-- holds recommended users -->
		<div class='col-sm-12 mt-5'>
			<h3 class='mb-3'>Following</h3>
			
				<p>Not following anyone</p>
			
		</div>
	</div>
	<div class='col-sm-9 mt-3'>
		{# Following #}
		{% if following %}
		<h1>Following</h1>
		<hr>
		<div class='ml-1 row' id='following-container'>
			{% for party in following %}
				<div class="col-xs-12 col-sm-3">
					{% include "parties/party-card.html" %}
				</div>
			{% endfor %}
		</div>
		{% else %}
		{% endif %}

		{# Trending #}
		{% if trending %}
		<h1 class='mt-5'>Trending</h1>
		<div class='ml-1 row' id='trending-container'>
			{% for party in trending %}
				<div class="col-xs-12 col-sm-3">
					{% include "parties/party-card.html" %}
				</div>
			{% endfor %}
		</div>
		{% else %}
		{% endif %}

		{# Closing Soon #}
		{% if closing %}
		<h1 class='mt-5'>Closing Soon</h1>
		<div class='ml-1 row' id='closing-container'>
			{% for party in closing %}
				<div class="col-xs-12 col-sm-3">
					{% include "parties/party-card.html" %}
				</div>
			{% endfor %}
		</div>		
		{% else %}
		{% endif %}

		<!-- this is our load more button for the pagination -->
		<!-- weve disabled this for now since we wanted to pu the trending piece in -->
		<!-- <a href='#' id='loadmore'>Show More Events</a> -->

	</div>
</div>
{# ======= #}
<!--     <h1>Connect with your favorite creators!</h1> -->

<header class="hero-section">
    <div class="header-wrapper">
        <h1 class="text-center">Featured Creator<span class="d-none d-md-inline">s</span></h1>
        <div class="row">
            <div class="col-xl-3 col-lg-4 offset-lg-0 col-md-5 offset-md-1 col-sm-6 offset-sm-3 col-xs-12">
                <div class="card card-profile text-center">
                    <div class="card-block">
                        <img alt="" class="card-img-profile" src="https://it.gravatar.com/userimage/3434071/205a00fc16ae537b26b56f40790910fe.jpg?size=140">
                        <h4 class="card-title">
				      John Smith
				      <small>Tagline Goes Here</small>
				      
				    </h4>
				    	<a href="{{ request.user.profile.get_absolute_url }}">
                        	<button class="btn btn-new btn-primary-new">View Profile</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-5 d-none d-md-block d-lg-block d-xl-block">
                <div class="card card-profile text-center">
                    <div class="card-block">
                        <img alt="" class="card-img-profile" src="https://it.gravatar.com/userimage/3434071/205a00fc16ae537b26b56f40790910fe.jpg?size=140">
                        <h4 class="card-title">
				      John Smith
				      <small>Tagline Goes Here</small>
				      
				    </h4>
				    	<a href="{{ request.user.profile.get_absolute_url }}">
                        	<button class="btn btn-new btn-primary-new">View Profile</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 d-none d-lg-block d-xl-block">
                <div class="card card-profile text-center">
                    <div class="card-block">
                        <img alt="" class="card-img-profile" src="https://it.gravatar.com/userimage/3434071/205a00fc16ae537b26b56f40790910fe.jpg?size=140">
                        <h4 class="card-title">
				      John Smith
				      <small>Tagline Goes Here</small>
				      
				    </h4>
				    	<a href="{{ request.user.profile.get_absolute_url }}">
                        	<button class="btn btn-new btn-primary-new">View Profile</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 d-none d-xl-block">
                <div class="card card-profile text-center">
                    <div class="card-block">
                        <img alt="" class="card-img-profile" src="https://it.gravatar.com/userimage/3434071/205a00fc16ae537b26b56f40790910fe.jpg?size=140">
                        <h4 class="card-title">
				      John Smith
				      <small>Tagline Goes Here</small>
				      
				    </h4>
				    	<a href="{{ request.user.profile.get_absolute_url }}">
                        	<button class="btn btn-new btn-primary-new">View Profile</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


{% endblock content %}