<nav class="navbar navbar-expand-md navbar-light bg-light">
  <!-- makes the navbar expand continuously with the page, not at break points -->
  <div class='container-fluid'>
    <a class="navbar-brand ml-3" href="{% url 'home' %}">Apogee</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- search form -->
      {% include 'parties/search_form.html' %}

      <!-- items on far right side when logged in -->
      {% if request.user.is_authenticated %}
      <ul class="navbar-nav ml-auto">
        <!-- link to following page -->
        <li class="nav-item mx-3">
          <a class="nav-link" href="{% url 'parties:following-list' %}">Following</a>
        </li>
        <!-- link to starred events -->
        <li class="nav-item mx-3">
          <a class="nav-link" href="#">Starred</a>
        </li>
        <!-- profile dropdown menu -->
        <li class="nav-item dropdown mx-3">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ request.user.profile.get_absolute_url }}">Profile</a>
            <a class="dropdown-item" href="{% url 'set_timezone' %}">Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          </div>
        </li>
      </ul>
      <!-- items on far right when not logged in -->
      {% else %}
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
      </ul>
      {% endif %}
    </div>
  </div>
</nav>