<!-- this is he HTML for the search page. not sure why it is here rather than 
than in the parties templates -->
{% extends 'base.html' %}
<!-- {% load static %} -->
<!-- sets the tab info -->
{% block title %}
	Events | {{ block.super }}
{% endblock title %}

<!-- contains our custom JS -->
{% block script %}
<script src='{% static "js/parties/old.js"%}'></script>
<script src='{% static "js/parties/party.js"%}'></script>
<script type="text/javascript">
	$(document).ready(function() {
		// tells us where the thumbnails go
		loadPartyListContainer('party-container')
		addStarFunctionality()
	});
</script>
{% endblock script %}

<!-- contains our custom html and django stuff -->
{% block content %}
<!-- <div class='row'>
	<div class="col-sm-12 mt-3 ml-3">
		{% if request.GET.q %}
			<p class='lead'>Results for "{{ request.GET.q }}"</p>
		{% endif %}
	</div>
</div> -->

	<div class='row'>
	<div class="col-md-1 d-md-block"></div>
	<div class='col-md-3 mt-3 pt-3 pl-3 search-view' >
		<div style="padding: 12px 12px 20px  46px; background: rgba(255,255,255,0.4); box-shadow: 6px 6px 0px rgba(255,255,255,0.5); margin: 10px;">
			<p class="mt-3"><b>Users</b><hr>
			{% for user in users %}
			<div class='mb-3'>
				<a class='text-light' href='/profiles/{{ user.username }}'>
					{% if user.profile.profile_picture %}
					<div class=" rounded-circle " style='height: 50px; width: 50px; overflow: hidden; border: 1px solid white; float: left'>
						<img src='{{ user.profile.profile_picture.url }}' class="float-left" style='max-height: 50px;'>		
					</div>
				{%if user.is_verified%}
				dsjkafhffdjgsdfgfgfafdfkfgfgfgfgffgfgf
					<i class="fas fa-check-circle"></i>
				{%endif%} 
					{% else %}
					<!-- Default blank profile img-->
					<div class=" rounded-circle " style='height: 50px; width: 50px; overflow: hidden; border: 1px solid white; float: left'>
						<img src='/media/profile_pics/blank_profile.png' class="float-left" style='max-height: 50px;'>		
					</div>
					{% endif %}
					<p class='ml-1' style="margin-bottom: 0px; height: 50px; padding-left: 75px; padding-top: 10px;">{{ user.username}}
					</p>
				</a>
			</div>
			{% empty %}
				<p>Not following anyone</p>
			{% endfor %}
		</div>
	</div>
		<div class='col-md-8 mt-3'>
			<div style="padding-left:40px">
				<!-- <div class='col-md-12 mt-3'>
					<p class=" mt-3"><b><u>Events Joined</u></b></p><hr>
					<div class='ml-1 row' id='joined-container' data-url='/api/events/joined/'></div>
				</div> -->
				<div class='col-md-12 mt-3'>
					<p class=" mt-3"><b><u>Search Results</u></b></p><hr>
				   <div id='party-container' data-url='/api/search'></div>	
				</div>
				<!-- <div class='col-md-12 mt-3'>
					<p class=" mt-3"><b><u>Favorited Events</u></b></p><hr>
					<div class='ml-1 row' id='starred-container' data-url='/api/events/starred/'></div>
				</div> -->
				<button type="button" class="btn btn-primary-new btn-block" id='loadmore' style="display:none">Show More Events</button>
				<br><p></p>
			</div>
		</div>
	</div>
</div>
{% endblock content %}







