<!-- this handles the create form -->
{% extends 'base.html' %}
<!-- {% load static %} -->

<!-- tab title -->
{% block title %}
	Create Event | {{ block.super }}
{% endblock title %}

<!-- contains our custom JS -->
{% block script %}
<script src='{% static "js/parties/party-create-helper.js"%}'></script>
<script>
	$(document).ready(function() {
        // set things up so my function will be called when field_three changes
        $('#id_event_type').change( function() {
            check_event_type(this.value);
            console.log(this.value)
        });
    });
</script>
{% endblock script %}

{% block content %}
<div class='row'>
	<!-- centers the content -->
	<div class='col-sm-8 offset-sm-2 mt-3'>
		<h1 class='text-center'>Create an Event</h1>
		<!-- brings in the create/update form. because we customised 
		the form, we arent using the crispy format. -->
		{% include "parties/form.html" with form_id='party-form' form=form btn_title="Create" %}
	</div>
</div>
{% endblock content %}