<!-- when you delete an event, the site takes you to a confim page -->
{% extends 'base.html' %}

<!-- tab title -->
{% block title %}
	Delete Event | {{ block.super }}
{% endblock title %}

{% block content %}
<!-- this is a second line of defense against a non owner editing things -->
<div class="row text-center" style="margin-top: 50px">
	<div class="col-md-6 offset-md-3">
		{% if request.user == object.user %}
			<form action="" method="post">{% csrf_token %}
				<!-- there is a single warning and a single submit button -->
			    <p>Are you sure you want to delete the event "{{ object }}"?</p>
			    <input type="submit" class="btn btn-danger btn-block my-3" style="max-width: 50%; margin: 0 auto;" value="Confirm" />
			</form>
		{% else %}
		<!-- if the person isnt the owner, they get blocked again -->
			<h3><strong>You don't own this event</strong></h3>
		{% endif %}
		{% endblock content %}		
	</div>
</div>
