<!-- this is the html for the "following" tab. it includes a list
of usernames and a lidt of events -->
{% extends 'base.html' %}
<!-- {% load static %} -->

<!-- sets the tab info -->
{% block title %}
	Following | {{ block.super }}
{% endblock title %}

<!-- contains our custom JS -->
{% block script %}
<script src='{% static "js/parties/party.js"%}'></script>

{% endblock script %}

<!-- contains our custom html and django stuff -->
{% block content %}
<div class='row'>
		<div class='col-sm-12'>
			<h1>Following</h1><hr>
			<!-- through user, calls who they follow.
			this gets actual user instances -->
			{% for user in request.user.profile.get_following %}
			<p class='mb-3'>
				<a class='text-dark' href='/profiles/{{ user.username }}'>
				{%if user.is_verified%}
					<i class="fas fa-check-circle"></i>
				{%endif%} 

					{% if user.profile.profile_picture %}
					<img src='{{ user.profile.profile_picture.url }}' class="rounded-circle float-left" style='max-height: 30;'>
					{% else %}
					<!-- this is a blank profile pic, cause we at least need the circle to show. it only shows if the user doesnt have a profile-->
					<img src='/media/profile_pics/blank_profile.png' class="rounded-circle float-left" style='max-height: 30;'>
					{% endif %}
					<span class='ml-1'>{{ user.username }}
					{%if user.is_verified%}
						<i class="fas fa-check-circle"></i>
					{%endif%} 
					</span>
				</a>
			</p>
			{% empty %}
				<p>Not following anyone</p>
			{% endfor %}
		</div>
	</div>
	<div class='col-sm-12 mt-3'>
		<!-- title for the following section -->
		<h1>Events</h1><hr>
		<!-- this holds all of our JS rendered stuff -->
		<!-- the id and dataurl are set so that the base render function can 
		get the appropriate info from them -->
		<div class='ml-1 row' id='following-container'>
			{% for party in following %}
				<div class="col-xs-12 col-sm-2">
					{% include "parties/party-card.html" %}
				</div>
			{% endfor %}
		</div>

		<!-- this is our load more button for the pagination -->
		<button type="button" class="btn btn-outline-secondary btn-block" id='loadmore' style="display:none">Show More Events</button>
		<!-- this lists the load button off of the bottom -->
		<br><p></p>

	</div>
</div>
{% endblock content %}
