{% extends 'base.html' %}

<!-- sets the tab info -->
{% block title %}
	Following | {{ block.super }}
{% endblock title %}

<!-- contains our custom JS -->
{% block script %}
<script>
	// runs when page DOM is ready
	$(document).ready(function(){
		loadPartyContainer('follow-container')
	});
</script>
{% endblock script %}

<!-- contains our custom html and django stuff -->
{% block content %}
<div class='row'>
	<!-- left side column -->
	<div class='col-sm-3 mt-3'>
		<!-- separated so that the background wont follow the right columns length -->
		<div class='col-sm-12'>
			<h1>Following</h1><hr>
		</div>
		<div class='col-sm-12'>
			<!-- through user, calls who they follow.
			this gets actual user instances -->
			{% for user in request.user.profile.get_following %}
				<a class='text-dark' href='/profiles/{{ user.username }}'>{{ user.username }}</a><br>
			{% empty %}
				<p>Not following anyone</p>
			{% endfor %}
		</div>
	</div>
	<div class='col-sm-9 mt-3'>
		<!-- title for the following section -->
		<h1>Events</h1><hr>
		<!-- this holds all of our JS rendered stuff -->
		<!-- the id and dataurl are set so that the base render function can 
		get the appropriate info from them -->
		<div class='card-deck ml-1' id='follow-container' data-url='/api/events/'></div>

		<!-- this is our load more button for the pagination -->
		<a href='#' id='loadmore'>Show More Events</a>

	</div>
</div>
{% endblock content %}
