<!-- form is never actually rendered on its own. its 
always added in to other form displays -->
{% load crispy_forms_tags %}

<!-- the id portion just allows us to call this with a particular id if we  want -->
<!-- the multipart line allows us to handle the split form in event creation and update -->
<form {% if form_id %} id='{{ form_id }}' {% endif %} class='form mt-3' method='POST' action='' enctype="multipart/form-data">
	{% csrf_token %}
    {{ form|crispy }}
    <input class='btn btn-outline-secondary' type="submit" value="{{ btn_title }}" />
</form>