<!-- this is the HTML for the joined page. it only contains events -->
{% extends 'base.html' %}
<!-- {% load static %} -->
<!-- sets the tab info -->
{% block title %}
	Joined | {{ block.super }}
{% endblock title %}

<!-- contains our custom JS -->
{% block script %}
<script src='{% static "js/parties/party-rendering-detail.js"%}'></script>
<script>
	// runs when page DOM is ready
	$(document).ready(function(){
		// tells us where the thumbnails go
		loadPartyListContainer('joined-container')
	});
</script>
{% endblock script %}

{% block content %}
<div class='row'>
	
	<div class='col-sm-10 offset-sm-1 mt-3'>
		<!-- title for the following section -->
		<h1>Events</h1><hr>
		<!-- this holds all of our JS rendered stuff -->
		<!-- the id and dataurl are set so that the base render function can 
		get the appropriate info from them -->
		<div class='ml-1' id='joined-container' data-url='/api/events/joined/'></div>

		<!-- this is our load more button for the pagination -->
		<button type="button" class="btn btn-outline-secondary btn-sm btn-block" id='loadmore'>Show More Events</button>
		<!-- this lists the load button off of the bottom -->
		<br><p></p>

	</div>
</div>
{% endblock content %}