<!--this is the HTML for the main page. it has recommended users 
a create event button, and the event thumbnails-->
{% extends 'base.html' %}
<!-- we would use this if we wanted to suggest users to follow -->
<!-- {% load recommended %}
<p class='lead'>Recommended users</p>
<p>{% recommended request.user %}</p> -->
<!-- {% load static %} -->
<!-- sets the tab info -->
{% block title %} Events | {{ block.super }} {% endblock title %}
<!-- hello caldwell -->
<!-- contains our custom JS -->
{% block script %}




<script src='{% static "js/parties/old.js"%}'></script>
<script src='{% static "js/parties/party.js"%}'></script>
<script>
// runs when page DOM is ready
$(document).ready(function() {
    // tells us where the thumbnails go
    loadPartyListContainer('party-container')
    loadPartyListContainer('trending-container')
    loadPartyListContainer('closing-container')
    // addStarFunctionality()
});
</script>

<!-- only adds the star function if the user is logged in -->
{% if request.user.is_authenticated %}
<script>
// runs when page DOM is ready
$(document).ready(function() {
    addStarFunctionality()
});
</script>
{% else %}
{% endif %}
{% endblock script %}
{% block content %}

    {% if request.user.is_authenticated %}
        <header class="hero-section">
            <div class="header-wrapper">
                <h1 class="text-left">Featured Event</h1>
                <div class="placeholder-hero-img my-4"></div>
                <p>Details of the event will appear here. This section of text can extend to multiple lines.</p>
            </div>
        </header>

    {% else %}
        <header class="hero-section">
            <div class="header-wrapper">
                <div class="row header-text">
                    <div class="col-lg-5 offset-lg-1 col-sm-8 offset-sm-2 text-center">
                        <h1 class="text-left">Don’t Just Watch.<br> Join and Play.</h1>
                        <h4 class="text-left">Connect with your favorite creators in a new way.</h4>
                    </div>
                    <div class="col-lg-5 offset-lg-0 col-sm-8 offset-sm-2 col-xs-12">
                        <div class="card card-profile text-center">
                            <div class="card-block">
                                <img alt="" class="card-img-profile" src="https://it.gravatar.com/userimage/3434071/205a00fc16ae537b26b56f40790910fe.jpg?size=140">
                                <h4 class="card-title">
                              John Smith
                              <small>Tagline Goes Here</small>
                              
                            </h4>
                                <a href="">
                                    <button class="btn btn-new btn-primary-new">View Profile</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>
    
<div class="home-content container about-apogee my-5">
    <div class="row mt-4">
        <div class="col-lg-12">
            <h2 class="mt-3 text-center">What's Apogee?</h2>
        </div>
        <div class="col-lg-12">
            <p class="mb-4 text-center">Well, it means different things to different people. We think of it as:</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="home-illu-holder mr-4 mb-4"></div>
            <h3>Creators</h3>
                <p>Apogee is a tool to set up fun interactions</p>
                <p>Apogee is another revenue stream</p>
                <p>Strengthens connection with community</p>
            </div>
            <div class="col-lg-6">
                <div class="home-illu-holder mr-4 mb-4"></div>
                <h3>Fans</h3>
                    <p>You get to play, not just watch</p>
                    <p>You get to support your favorite creators</p>
                    <p>You get to know the creator more</p>
            </div>
    </div>
</div>

    {% endif %}
        <div class="home-content container">
            <div class="row">
                <h4 class="text-left mt-5 ml-3 mb-4">Trending Events</h4>
                <div class="col-lg-12">
                    <div class="tab-content pl-3">
                        <div class="tab-pane fade active show" id="tab_1">
                               <div id='trending-container' data-url='/api/events/trending'></div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>

<div class="home-content container faq-section mt-4">
        <div class="row">
            <h2 class="pl-3">Frequently Asked Questions<h2>
        </div>
        <div class="row pl-3">
            <div>
                <div class="d-flex nav-active-border home-nav">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link pt-4 pb-4 mb-2 active show" href="#" data-toggle="tab" data-target="#tab_1">Creators</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pt-4 pb-4" href="#" data-toggle="tab" data-target="#tab_2">Fans</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    <div class="row">

    <div id="accordion" role="tablist" class="apogee-accordion pl-3">
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              How much of the event revenue do I get?
            </a>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            95%. Our goal is to support you and your community, so we want to stay out of your way. As a result, we take 5%, so that we can cover fees associated with online transactions.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              How am I protected from toxic fans?
            </a>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            We have a block function that prevents someone from seeing any of your events. You may also remove a fan from any event for behavior you deem inappropriate or abusive in any way.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingThree">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              When does someone get a refund? Can I dispute it?
            </a>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            Fans must file a complaint first. We’ll then contact you to review the situation. If you left or cancelled the event without reason or abused the fan in some way, we’ll have to issue a refund.
          </div>
        </div>
      </div>
    </div>
</div>

<script>

$(document).ready(function() {
  $('.panel-collapse').on('show.bs.collapse', function () {
    $(this).siblings('.panel-heading').addClass('active');
  });

  $('.panel-collapse').on('hide.bs.collapse', function () {
    $(this).siblings('.panel-heading').removeClass('active');
  });
});

</script>

</div>
{% endblock content %}