<!-- this is for the single event page -->
{% extends 'base.html' %}

<!-- tab title in browser -->
{% block title %}
	{{ object.title }} | {{ block.super }}
{% endblock title %}

<!-- contains our custom JS -->
{% block script %}
<script>
	// runs when page DOM is ready
	$(document).ready(function(){
		// we pass a second id parameter so that our JS knows that
		// we're working with a single event, rather than a list 
		loadPartyContainer('party-container', {{ object.id }})
	});
</script>
{% endblock script %}
{% block content %}
<div class='row mt-4'>
	<div class='col-sm-8 offset-sm-2 border grey-background rounded'>
		<div id='party-container'></div>
	</div>

	<!-- if the user is the owner, they get a second section that 
	allows the owner to update and delete -->
	{% if object.user == request.user %}
	<div class='col-sm-8 offset-sm-2 border grey-background rounded mt-3'>
		<a href='update/'>
			<button type='button' class='btn btn-outline-secondary my-3' id='update'>Update Event</button>
		</a><br>
		<a href='delete/'>
			<button type='button' class='btn btn-outline-danger mb-3' id='delete'>Delete Event</button>
		</a>
	</div>

	{% else %}
	{% endif %}
</div>
{% endblock content %}