<div id="paypal-button"></div>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script>
paypal.Button.render({
	env: 'sandbox',
	client: {
		sandbox: 'AYVs-7u_YV5YGnV2c8q4L0i8Ke6iZjVwY6JoumipioAh-8do6ZHCC9sYP94PpS62ZTbdqVTCNV39h0uw'
	},
	payment: function (data, actions) {
		return actions.payment.create({
			transactions: [{
				amount: {
					total: '10.00',
					currency: 'USD',
				},
				custom: "{{ object.id }}",
				description: '{{ object.description }}',
	      item_list: {
	        items: [
	          {
	            name: '{{ object.title }}',
	            description: 'buy an event with dude',
	            quantity: '1',
	            price: '10',
	            tax: '0.01',
	            sku: '1',
	            currency: 'USD'
	          }
	        ],
	      }
			}],
			note_to_payer: 'Contact us for any questions on your order.'
		});
	},
	onAuthorize: function (data, actions) {
		return actions.payment.execute()
			.then(function () {
				window.alert('Thank you for your purchase!');
			});
	}
}, '#paypal-button');
</script>

<div id="paypal-button"></div>
<!-- writes out the form tag automatically -->
