<!--this is the HTML for the notifications page.-->
{% extends 'base.html' %}
<!-- {% load static %} -->
<!-- sets the tab info -->
{% block title %}
	Notifications | {{ block.super }}
{% endblock title %}

<!-- contains our custom JS -->
{% block script %}
<script src='{% static "js/notifications/notification-rendering.js"%}'></script>
<script>
	// runs when page DOM is ready
	$(document).ready(function(){
		// tells us where the thumbnails go
		loadNotificationContainer('notif-container')
	});
</script>
{% endblock script %}

<!-- contains our custom html and django stuff -->
{% block content %}
<div class='row'>
	<div class='col-md-8 offset-md-2 mt-3'>
		<h3 class=" mt-3"><b><u>Notifications</u></b></h3><hr>
		<!-- title for the following section -->
		<!-- this holds all of our JS rendered stuff -->
		<!-- the id and dataurl are set so that the base render function can 
		get the appropriate info from them -->
		<div class='ml-1' id='notif-container' data-url='/api/notifications/'></div>

		<button type="button" class="btn btn-primary-new btn-block" id='loadmore' style='display:none'>Show More Notifications</button>

	</div>
</div>
{% endblock content %}